*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
    justify-items: center;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;    
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #af9a3c;
    z-index: 2;
}


.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header__logo {
    flex: 0 0 70px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 3;
}
.header__logo img{
    max-width: 100%;
    display: block;
}
.header__burger {
    display: none;
}



.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li{
    list-style: none;
    margin: 0 0 0 20px;
}
.header__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}

@media (max-width:767px){
    body.lock{
        overflow: hidden;
    }
    .header__logo{
        flex: 0 0 45px;
    }
    .header__body{
        height: 50px;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span{
        position: absolute;
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease-in-out 0s;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease-in-out 0s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }

    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }


    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(128, 128, 128, 0.9);
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease-in-out 0s;
    }
    .header__menu.active{
        top: 0;
    }
    .header__list{
        display: block;
    }
    .header__list li{
        margin: 0 0 20px 0;
    }
    .header__link{
        font-size: 24px;
    }
}



.content {
    padding: 100px 0 0 0;
}
.container__text {
    font-size: 18px;
    line-height: 25px;
}
.container__text p{
    margin: 0 0 20px 0;
}
.container__text span{
    color: green;
}
@media (max-width:767px){
    .content{
        padding: 60px 0 0 0;
    }
}


/* ---- particles.js container ---- */

.seti{
    flex: 0 0 70px;
    overflow: hidden;
    position: relative;
    z-index: 3;
    margin: auto;
    display: flex;
    max-width: 600px;
    justify-content: space-between;
}

.obod{
    position: relative;
}
.knopka{
    position: relative;
    margin-top: -100%;
}
.setka img{
    max-width: 100%;
    display: block;
}
